@namespace Davivienda.Componentes
@using Davivienda.Models.Modelos
@using Microsoft.AspNetCore.Components.Forms

<div class="contenedor-gestion-friccion">
    <EditForm Model="@fricEdit" OnValidSubmit="ActualizarFriccion">
        <div class="cuerpo-formulario-friccion">

            @* Tipo de Fricción *@
            <div class="seccion-tipo-friccion">
                <label class="etiqueta-friccion-unica">TIPO DE FRICCIÓN</label>
                <InputText @bind-Value="fricEdit.FRI_TIP" class="input-friccion-tipo-directo" placeholder="Ej: Error de servidor, Retraso en aprobación" />
            </div>

            @* Descripción *@
            <div class="seccion-descripcion-friccion">
                <label class="etiqueta-friccion-unica">DESCRIPCIÓN DEL BLOQUEO</label>
                <InputTextArea @bind-Value="fricEdit.FRI_DES" class="textarea-friccion-descripcion-directa" placeholder="Detalle el impacto y el origen de la fricción..." />
            </div>

            <div class="grid-friccion-doble">
                @* Estado *@
                <div class="seccion-estado-friccion">
                    <label class="etiqueta-friccion-unica">ESTADO ACTUAL</label>
                    <InputSelect @bind-Value="fricEdit.FRI_EST" class="select-friccion-estado-directo">
                        <option value="Activa">Activa</option>
                        <option value="Mitigada">Mitigada</option>
                        <option value="Resuelta">Resuelta</option>
                    </InputSelect>
                </div>

                @* Impacto *@
                <div class="seccion-impacto-friccion">
                    <label class="etiqueta-friccion-unica">NIVEL DE IMPACTO</label>
                    <InputSelect @bind-Value="fricEdit.FRI_IMP" class="select-friccion-impacto-directo">
                        <option value="Bajo">Bajo</option>
                        <option value="Medio">Medio</option>
                        <option value="Alto">Alto</option>
                        <option value="Crítico">Crítico</option>
                    </InputSelect>
                </div>
            </div>

            <div class="acciones-finales-friccion">
                <button type="button" class="boton-friccion-cancelar" @onclick="Cerrar">Cancelar</button>
                <button type="submit" class="boton-friccion-guardar">
                    <i class="bi bi-shield-check"></i> Actualizar Fricción
                </button>
            </div>
        </div>
    </EditForm>
</div>