@namespace Davivienda.Component.Componentes
@using Davivienda.Models.Modelos
@using Microsoft.AspNetCore.Components.Forms

<div class="contenedor-principal-solucion">
    <EditForm Model="@solEdit" OnValidSubmit="ActualizarSolucion">
        <div class="seccion-formulario-limpio">
            <div class="cuadricula-individualizada">

                @* Campo Nombre *@
                <div class="grupo-campo-nombre-sol">
                    <label class="etiqueta-exclusiva">NOMBRE DE LA SOLUCIÓN</label>
                    <InputText @bind-Value="solEdit.SOL_NOM" class="input-unico-sol-nombre" placeholder="Ej: Ajuste de índices en BD" />
                </div>

                @* Campo Descripción *@
                <div class="grupo-campo-descripcion-sol">
                    <label class="etiqueta-exclusiva">DESCRIPCIÓN TÉCNICA</label>
                    <InputTextArea @bind-Value="solEdit.SOL_DES" class="input-unico-sol-descripcion" placeholder="Detalle del procedimiento..." />
                </div>

                <div class="fila-doble-especifica">
                    @* Campo Estado *@
                    <div class="grupo-campo-estado-sol">
                        <label class="etiqueta-exclusiva">ESTADO ACTUAL</label>
                        <InputSelect @bind-Value="solEdit.SOL_EST" class="input-unico-sol-estado">
                            <option value="Pendiente">Pendiente</option>
                            <option value="En Progreso">En Progreso</option>
                            <option value="Completada">Completada</option>
                        </InputSelect>
                    </div>

                    @* Campo Efectividad *@
                    <div class="grupo-campo-efectividad-sol">
                        <label class="etiqueta-exclusiva">EFECTIVIDAD (%)</label>
                        <InputNumber @bind-Value="solEdit.SOL_NIV_EFE" class="input-unico-sol-efectividad" />
                    </div>
                </div>
            </div>

            <div class="barra-acciones-solucion">
                <button type="button" class="boton-cancelar-sol-fina" @onclick="Cerrar">Cancelar</button>
                <button type="submit" class="boton-guardar-sol-fina">
                    <i class="bi bi-save2"></i> Guardar Registro
                </button>
            </div>
        </div>
    </EditForm>
</div>