@inherits LayoutComponentBase

<div class="login-main-container">
    @Body
</div>

<style>
    .login-main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f1f5f9;
    }
</style>