@inherits LayoutComponentBase

<div class="page">
    @* Aquí es donde se manda a llamar tu componente original *@
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>