/* Quitamos las restricciones de la plantilla de Blazor */
.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
}

.sidebar {
    background: none !important; /* Eliminamos el fondo azul oscuro de Blazor */
    width: 280px;
}

/* Responsivo básico para que no se rompa en celular */
@media (max-width: 640.98px) {
    .page {
        flex-direction: column;
    }
}
