@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* Se eliminó el Portal Administrativo y Cerrar Sesión de aquí *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>