@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<div class="sidebar-modern">
    <SidebarDavivienda Tipo="Header" />

    <div class="sidebar-navigation-area">
        <nav class="navigation-menu-modern">

            <div class="menu-item-modern">
                <NavLink class="menu-link-modern" href="home" Match="NavLinkMatch.All">
                    <i class="bi bi-house-door menu-icon-modern"></i>
                    <span class="menu-text-modern">Home</span>
                </NavLink>
            </div>

            <div class="menu-item-modern">
                <NavLink class="menu-link-modern" href="Asignaciones">
                    <i class="bi bi-clipboard-check menu-icon-modern"></i>
                    <span class="menu-text-modern">Asignaciones</span>
                </NavLink>
            </div>

            <AuthorizeView Roles="Enoc">
                <Authorized>
                    <SidebarDavivienda Tipo="MenuAdmin" />
                </Authorized>
            </AuthorizeView>

        </nav>
    </div>

    <SidebarDavivienda Tipo="Footer" />
</div>