@page "/home"
@layout MainLayout

<PageTitle>Davivienda - Análisis</PageTitle>

<div class="home-data-analysis">
    <div class="container-home">
        @* Contenido Izquierdo: Texto y Acción *@
        <div class="content-left">
            <h1 class="title-analysis">Bienvenidos Davivienda</h1>
            <p class="description-analysis">
                Bienvenidos a control de asignaciones de Davivienda
            </p>
            <button class="btn-learn-more">Learn more</button>

            <div class="pagination-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>

        @* Contenido Derecho: Ilustraciones y Gráficas *@
        <div class="content-right">
            <div class="illustration-container">
                @* Círculos y Decoraciones *@
                <div class="decoration-circle top-left"></div>
                <div class="decoration-icon chart-icon"></div>
                <div class="decoration-icon bar-icon"></div>
                <div class="decoration-gear gear-1"></div>
                <div class="decoration-gear gear-2"></div>

                @* Gráficas de Barras *@
                <div class="chart-bars">
                    <div class="bar bar-red" style="height: 180px;"></div>
                    <div class="bar bar-orange" style="height: 240px;"></div>
                    <div class="bar bar-primary" style="height: 320px;"></div>
                    <div class="bar bar-purple" style="height: 280px;"></div>
                    <div class="bar bar-blue" style="height: 200px;"></div>
                </div>

                @* Personas Representativas (Basado en la imagen) *@
                <div class="person person-1"><div class="person-head"></div><div class="person-body"></div></div>
                <div class="person person-2"><div class="person-head"></div><div class="person-body"></div></div>
                <div class="person person-3"><div class="person-head"></div><div class="person-body"></div></div>
                <div class="person person-4"><div class="person-head"></div><div class="person-body"></div></div>
            </div>
        </div>
    </div>
</div>